

@font-face { 
   font-family: Montserrat;
   src: url('Montserrat-Regular.ttf') format("opentype");
}

body {
font-family: Montserrat;
background-color: #FFFFFF;
margin: 0px 0px;
padding: 0px 0px;
border-style: none;
font-size: 14px;
}

h1 {
font-family: Montserrat;
background-color: #FFFFFF;
margin: 0px 0px;
padding: 0px 0px;
border-style: none;
font-size: 40px;
}

h2 {
font-family: Montserrat;
background-color: #FFFFFF;
margin: 0px 0px;
padding: 0px 0px;
border-style: none;
font-size: 30px;
}

h4 {
font-family: Montserrat;
background-color: #FFFFFF;
margin: 0px 0px;
padding: 0px 0px;
border-style: none;
font-size: 20px;
}